body{
    background: linear-gradient(90deg, #cdb5b5ad 0%, #d361bc 100%);
    background-size: cover;
    max-width: 100vw;
    max-height: 100vh;
}

.header1{
    background-color: #7b10d8e8;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    border-radius: 2rem;
    outline: none;
    border-color: #7b10d8e8 ;
}
span{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    display: inline-flex;
    justify-content: center;
    gap: 60vw;
}
.case{
    display: flex;
    flex-direction: column;
}
.quiz{
    background-color: #7b10d8e8;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 6vh;
}


label{
    color: #363232;
}

 li:hover{
    background-color: red;
    cursor: pointer;
}

li{
    margin-top: 3vh;
    background: gray;
    color: #fff;
    width: 25vw;
    height: 4vh;
    border-radius: 3rem;
    outline: none;
    border-color: gray;
    padding-left: .5rem;
    padding-top: .5rem;

}

.next{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 4rem;
    gap: 4vw;
}
#btn2, #btn3, #retake{
    width: 7vw;
    height: 5vh;
    background: #7b10d8e8;
    border-radius: 3rem;
    color: #fff;
    cursor: pointer;
    border-style: hidden;
}

#retake{
    margin-bottom: .5rem;
}

#scoreboard, #AnwserBoard{
    height: fit-content;
    width: 20vw;
    background-color: #8352ade8;
    margin: auto;
    display: none;
    margin-top: 7rem;
    text-align: center;
}

#AnwserBoard li{
width: 15vw;
}

#AnwserBoard li:hover{
    cursor: none;
    background: gray;
}

#scoreboard button{
    width: 7vw;
    height: 5vh;
    border-radius: 5rem;
    background-color: #7b10d8e8;
    border-style: hidden;
    cursor: pointer;
    color: #fff;
    
}